.container{
  max-width:700px;
  margin:0 auto;
  text-align:center;
}

canvas{
  border: 1px solid #ddd;
  border-radius:2px;
  padding: 4px;
}

input{
  width:500px !important;
  margin-right:5px;
  display:inline !important;
}

.controls{
  margin-top:15px;
}

.about{
  color:#aaa;
  margin-top:50px;
  line-height: 1.8em;
}

.about a{
  color:#999;
  text-decoration:none;
}

.about a:hover{
  text-decoration: underline;
}
